* {
  margin: 0;
  padding: 0;
}
.logo {
  text-align: center;
  display: inline;
}
body {
   width: 100%;
   background-color: khaki;
	 text-align: center;
}
header {
  background: red;
  margin: 0px;
}
.navbar {
  position: fixed;
  top: 0;
}
nav {
	background-color: goldenrod;
	text-align: center;
  padding: 20px;
	line-height: 2px;
	word-spacing: 50px;
  font-size: 20px;
  display: block;
}

nav ul li {
	display: inline-flex;
	list-style-type: none;
  flex-flow: nowrap;
  line-height: 20px;
}

nav a {
	padding: 0.25em;
	color: ivory;
	font-weight: bold;
	text-decoration: none;
}

nav a:hover {
  color: red;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 10px 0 0 10px;
}

.headshot {
  float: left;
  clear: right;
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-color: goldenrod;
  border-width: 10px;
}

figcaption {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-left: 10px;
}

footer {
  background-color: red  ;
  margin-top: 150px;
  padding: 10px;
  color:ivory;
  width: 100%;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

@media screen and (max-width: 620px) {
  .logo {
    width: 50px;
  }
  nav {
    width: 620px;
  }
  nav ul {
    display: flex;
    flex-flow: nowrap;
  }
  nav ul li {
    padding: 10px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 524px) {
  header {
    width: 524px;
  }
  nav {
    width: 524px;
  }
  

}