.header {
 background-color: #ffffff;
 opacity: 100%;
}
.logo {
  float: center;
  clear: right;
  width: 180px;
  margin-top: 2px;
  background-color: #ffffff;
  margin-bottom: 10px;
  overflow: hidden;
}

.logo:hover {
  transform: scale(0.95);
}

.navbar {
  width: 100%;
}
nav {
  padding: 5px;
	background-color: #B3365B;
	line-height: 2px;
	word-spacing: 50px;
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
  margin-bottom: -3px;
}
nav ul {
	display: flex;
	list-style-type: none;
    flex-flow: wrap;
    justify-content: center;
}
nav li {
  text-align: center;
}

nav a {
	padding: 10px;
	color:#ffffff;
	font-weight: bold;
	text-decoration: none;
  text-align: center;
}

nav a:hover {
color: #B3365B;
background-color: lightgray;
padding: 10px;
}

body {
   background-color: #B3365B;
   text-align: center;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 10px 0 0 10px;
}

.headshot {
  float: left;
  clear: right;
  margin-top: 10px;
  margin-left: 10px;
  border-style: solid;
  border-color: #EBCACA;
  border-width: 10px;
}

figcaption {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #B3365B;
  background-color: #EBCACA;

}

footer {
  background-color:#EBCACA  ;
  color:#B3365B;
  margin-top: 40px;
}

footer ul li {
  color:ivory;
  list-style-type: none;
}
h2 {
  font-size: 20px;
  padding-left: -90px;
}
h3 {
  font-size: 20px;
}
.fa {
  padding: 20px;
  font-size: 0px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 3px 3px;
  border-radius: 10%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


@media screen and (max-width: 620px) {
  .logo {
    width: 50px;
  }
  nav {
    width: 620px;
  }
  nav ul {
    display: flex;
    flex-flow: nowrap;
  }
  nav ul li {
    padding: 10px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 524px) {
  header {
    width: 524px;
  }
  nav {
    width: 524px;
  }
  

}