* {
  margin: 0;
  padding: 0;
}
.header {
 background-color: #ffffff;
 opacity: 100%;
}
.logo {
  text-align: center;
  float: center;
  clear: right;
  width: 280px;
  margin-top: 2px;
  background-color: #ffffff;
  margin-bottom: 0px;
  overflow: hidden;
}

.logo:hover {
  transform: scale(0.95);
}
.navbar {
  width: 100%;
}
nav {
  padding: 5px;
	background-color: #B3365B;
	line-height: 2px;
	word-spacing: 50px;
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 30px;
}
nav ul {
	display: flex;
	list-style-type: none;
    flex-flow: wrap;
    justify-content: center;
}
nav ul li {
  list-style-type: none;
}

nav a {
	padding: 10px;
	color:#ffffff;
	font-weight: bold;
	text-decoration: none;
   display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav a:hover {
color: #B3365B;
background-color: lightgray;
padding: 10px;
}

body {
     background-color: #B3365B;
	 text-align: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}
h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}
#formcontainer {
    text-align: center;
    width: 70%;
    align-items: center;
    padding-left: 50px;
    margin: 20px;
}
.reviews p {
    font-size: 20px;
    font-weight: bold;
    color: rgb(218, 15, 15);
    background-color: goldenrod;
}
.reviews p em {
    color: black;
}
.rev {
    font-size: 35px;
    padding: 20px;
}