* {
  margin: 0;
  padding: 0;
}
.header {
 background-color: #ffffff;
 opacity: 100%;
}
.logo {
  text-align: center;
  float: center;
  clear: right;
  width: 280px;
  margin-top: 2px;
  background-color: #ffffff;
  margin-bottom: 0px;
  overflow: hidden;
}

.logo:hover {
  transform: scale(0.95);
}
.navbar {
  width: 100%;
}
nav {
  padding: 5px;
	background-color: #B3365B;
	line-height: 2px;
	word-spacing: 50px;
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
  margin-bottom: -3px;
}
nav ul {
	display: flex;
	list-style-type: none;
    flex-flow: wrap;
    justify-content: center;
}
nav ul li {
  list-style-type: none;
}

nav a {
	padding: 10px;
	color:#ffffff;
	font-weight: bold;
	text-decoration: none;
  text-align: center;
}

nav a:hover {
color: #B3365B;
background-color: lightgray;
padding: 10px;
}
body {
  background-color: #B3365B;
  text-align: center;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

* {
  box-sizing: border-box;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}
h3 {
    color: black;
}

p {
    color:black;
}
.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #EBCACA;
  padding: 10px;
  border-radius: 10%;
  line-height: 25px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  
}

@media screen and (max-width: 400px) {
  .column {
    width: 50%;
  }
  body {
    width: 403px;
    overflow: hidden;
  }
  nav {
    width: 403px;
  }
  .header {
    width: 403px;
  }
}

.button {
  background-color: #EBCACA;
  border: none; 
  color:white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
