.header {
 height: 250px;
 width: 100%;

}
.logo {
  float: left;
  clear: right;
  margin-top: 60px; 
  margin-left: 20px; 
  margin-right: -400px; 
  border-style: groove; 
  border-width: 5px; 
  border-color: salmon; 

}

.logo:hover {
  transform: scale(0.95);
}
.headername {
    padding-top: 10px;
    padding-bottom: 40px;
    margin-right: 30px;
    flex-wrap: wrap;
}
h1 {
    font-family: 'Arial', cursive;
    font-style: bold;
    color: red;
    font-size: 60px;
    letter-spacing: 5px;
    word-spacing: 15px;
}
.slogan{
    font-family: 'Lobster', cursive;
    color: red;
    font-size: 50px;  
    line-height: 10px; 
}

body {
   background-color: khaki;
	 text-align: center;
}
nav {
  padding: 5px;
	background-color: goldenrod ;
	line-height: 2px;
	word-spacing: 50px;
    font-size: 20px;
}

nav ul {
	display: flex;
	list-style-type: none;
    flex-flow: wrap;
    justify-content: center;
}

nav li {
  padding: 1px;
}

nav a {
	padding: 1.5em;
	color: ivory;
	font-weight: bold;
	text-decoration: none;
  text-align: center;
}

nav a:hover {
color: red;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold; 
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  left: 200px;
  border-radius: 3px 0 0 3px;
  background-color: gray;
  color:white;
  top: -175px;
}
.prev {
  right: 200px;
  color: white;
  background-color: gray;
  top: -175px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
figcaption {
  color: black;
  background-color: honeydew;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 30%;
  text-align: center;
  left: 350px;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

hr {
  border-width: 4.5px;
  border-color: gold;
}

footer {
  background-color: red  ;
  padding: 10px;
  color:ivory;
}

footer a {
  color:ivory;
}
h2, h3 {
  font-size: 20px;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 541px) {
    nav ul {
        display: flex;
        flex-flow: nowrap;
        font-size: 15px;
    }
    figcaption {
        display: flex;
        text-align: center;
        left: 150px;
    }
    .headername{
        font-size: 40px;
        padding-left: 30px;
    }
    .slogan {
        font-size: 28px;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    body {
      height: 800px;
      width: 400px !important;
      padding-right: 0px;
      margin-right: 0px;
      overflow: hidden;

    }
    .header {
        width: 400px;
        height: 200px;
    }
    nav {
        width: 400px;
        height: 50px
    }
    nav ul {
        width: 400px;
        font-size: 15px;
        padding-right: 70px !important;
        padding-top: 2.5px;
    }
    nav ul li {
       
    }

    .headername h1 {
        font-size: 30px;
        padding-left: 10px; 
    }
    .slogan {
        font-size: 30px;
        padding-right: 5px;
    }
    .slideshow-container {
        width: 1000px;
        height: 500px;
        margin-top: -10px !important;
        padding-right: 600px !important;
    }
    figcaption {
        bottom: 5px;
        left: 99px;
        padding-left: 20px;
        font-size: 15px;
        background-color: white;
        width: 200px;
        text-align: center;        
    }
     .next {
        position: relative;
        left: 100px;
        top: -120px;

    }
    .prev {
        left: -100px;
        top: -120px !important;
    
    }
    hr {
      width: 400px;
      margin-top: -250px;
      margin-bottom: 100px;
    }
    footer {
        display: inline-block;
        text-align: center;
        width: 400px !important;
        margin-top: -50px;;
        padding-top: 3px;
      } 
    footer h2 {
     font-size: 30px !important;
     margin-right: 30px;
      
    }
    footer h3 {
      margin-right: 30px;
    }
        
        
    
    }
        
   .dot {
    display: none;
   }
}